@import 'libs/variable';
@import 'libs/mixin';

body{
    font-family: $font-primary;
    margin: auto;
    min-width: 376px;
    width: 100%;
}
h1 {
    font-family: $font-secondary;
}
/*--------------*/
/*---Preloader--*/
/*--------------*/

#preloader {
    z-index: 40;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $font-section;
    animation: chargement 0s 2s forwards;  
}

/*--------------*/
/*---loader---*/
/*--------------*/

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $primary-color;
    animation: spin 1s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $secondary-color;
    animation: spin 1.5s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $tertiary-color;
    animation: spin .75s linear infinite;
}
@keyframes spin {
    0%   {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}
  


@keyframes chargement {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
      z-index: -10;
    }
}

/*-----------*/
/*---Header--*/
/*-----------*/


header {
    width: 100%;
    height: 3.75rem;
    z-index: 30;
    h1{
    font-weight: bold;
    width: 100%;
    height: 100%;
    @include flex-mid;
    color: black;
    }
    .btn_return{
        width: 100%;
        height: 100%;
        
    }
    .retour_index{
        width: 4.75rem;
        height: 3.75rem;
        @include flex-mid;
        color: black;
        font-size: 1.2rem;
        position: absolute;
        left: 1rem; 
    }
}


/*----------*/
/*--footer--*/
/*----------*/


footer{
    width: 100%;
    height: auto;
    background-color: rgb(43, 43, 43);
    @include flex-mid;
    @media (max-width: 900px){
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 25%;
    }
     .footer{
        width: auto;
        list-style: none;
        color: white;
        margin: 0 0 1.3rem 0;
        li{
            margin: 0.5rem 0;
            p{
                font-family: $font-secondary;
            }
        }
        a{
            color: white;
            text-decoration: none;
        }
         i{
            max-width: 0.625rem;
            height: auto;
            margin-right: 1rem;
        }
    }
}

/*------------*/
/*--location--*/
/*------------*/

.location{
    @include flex-mid;
    width: 100%;
    height: 4rem;  
    background: #a9a9a9;
    background: -moz-linear-gradient(top,  rgba(169,169,169,1) 0%, rgba(234,234,234,1) 10%);
    background: -webkit-linear-gradient(top,  rgba(169,169,169,1) 0%,rgba(234,234,234,1) 10%);
    background: linear-gradient(to bottom,  rgba(169,169,169,1) 0%,rgba(234,234,234,1) 10%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a9a9', endColorstr='#eaeaea',GradientType=0 );
    

    &__city{
        @include flex-mid;
        h4{ 
            margin-left: 1rem;
        }
    }
}

/*---------------*/
/*--description--*/
/*---------------*/

.description{
    @include section-acceuil;
    background: $font-section;
    h2{
        margin-top: 0;
        width: 17rem;
        text-align: center;
    }
    p{
        font-size: 1.1rem;
        margin-top: 0;
        margin-bottom: 2rem;
        margin-left: 0.625rem;
        margin-right: 0.625rem;
        text-align: center;
    }
    &__btn{
        width: 13.5rem;
        @include btn;
    }
}

/*------------------*/
/*--fonctionnement--*/
/*------------------*/

.operation{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 3.75rem;
    padding-top: 3.125rem;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    h2{
        margin-top: 0;
    }
    &__section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 900px){
            flex-direction: column;
        }
        &__carte{
            margin: 0.8rem;
            width: 90%;
            height: 4.5rem;
            display: flex;
            align-items: center;
            border: 1px solid $gris-clair;
            background-color: $gris-clair;
            border-radius: 1.6rem;
            @include b-shadow;
            cursor: pointer;
            &:hover{
                background-color: lighten($primary-color, 35);
                border: 1px solid lighten($primary-color, 35);
                box-shadow: 3px 4px 12px grey;
                > i{
                    color: $primary-color;
                }
            }
            &:active{
                background-color: lighten($primary-color, 35);
                border: 1px solid lighten($primary-color, 35);
                box-shadow: 3px 4px 12px grey;
                > i{
                    color: $primary-color;
                }
            }
            .number{
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                @include flex-mid;
                color: white;
                background: $primary-color;
                font-size: 0.8rem;
                margin-left: -0.8rem;
            }
            i{
                margin-left: 1.25rem;
                margin-right: 1.25rem;
                color: grey;
            }
            p{
                font-weight: bold;
            }   
        }
    } 
}


/*---------------*/
/*--restaurants--*/
/*---------------*/


.restaurants{
    width: 100%;
    height: auto;
    background: $font-section;
    padding-top: 3rem;
    padding-bottom: 3rem;
    h2{
        margin-top: 0;
        margin-left: 0.8rem;
    }
    &__conteneur{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        @media (max-width: 700px){
            flex-direction: column;
        }
        &__resto{
            width: 45%;
            margin-top: 0.8rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.8rem;
            height: 15rem;
            border-radius: 1rem;
            @include b-shadow;
            position: relative;
            @media (max-width: 700px){
                width: 95%;
                margin-bottom: 1.2rem;
                margin-left: auto;
                margin-right: auto;
            }
            &__nouveau{
                @include flex-mid;
                width: 5rem;
                height: 1.9rem;
                font-size: 0.8rem;
                font-weight: bold;
                border-radius: 0.2rem;
                background-color: $tertiary-color;
                color: darken( $tertiary-color, 30);
                position: absolute;
                top: 0.8rem;
                right: 0.8rem;
            }
            &__image{
                width: 100%;
                height: 70%;
                object-fit: cover;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }
            &__description{
                height: 20%;
                display: flex;
                justify-content: space-between;
                padding: 0.8rem;
                background-color: #fff;
                margin-top: -0.3rem;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                position: relative;
                &__texte {
                    width: 150%;
                    a{
                    text-decoration: none;
                    }
                    h3 {
                        margin-top: 0;
                        margin-bottom: 0.2rem;
                        color: black;
                    }
                    p {
                        margin-top: 0;
                        color: grey;
                        text-overflow: ellipsis;
                    }
                }&__coeurvide{
                    font-size: 1.55rem;
                    margin-top: 0.5rem;
                    position: absolute;
                    right: 0.8rem;
                    z-index: 50;
                    cursor: pointer;
                    transition: opacity 0.8s;
                    &:hover {
                        opacity: 0;
                        transition: opacity 0.3s;
                        transform-origin: bottom;
                    }
                    &:hover + .restaurants__resto__description__coeurplein {
                        opacity: 1;
                        transition: opacity 0.8s;
                        transform-origin: bottom;
                    }
                    &:active {
                        opacity: 0;
                        transition: opacity 0.3s;
                        transform-origin: bottom;
                    }
                    &:active + .restaurants__resto__description__coeurplein {
                        opacity: 1;
                        transition: opacity 0.8s;
                        transform-origin: bottom;
                    }
                }
                &__coeurplein{
                    opacity: 0;
                    font-size: 1.55rem;
                    margin-top: 0.5rem;
                    position: absolute;
                    right: 0.8rem;
                    background: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($secondary-color));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: opacity 0.3s;
                }
            }
        }
    }   
}


/*---------------*/
/*---page-menu---*/
/*---------------*/


.entête{
    &__image{
        width: 100%;
        max-height: 17rem;
        object-fit: cover;
    }
}
.menu{
    width: 100%;
    height: auto;
    position: relative;
    top: -3.5rem;
    background: $font-section;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    margin-bottom: -3.5rem;
    &__resto{
        display: flex;
        align-items: center;
        margin-left: 1rem;
        transition: all 0.4s forwards;
        h2{
            margin-left: 0.5rem;
            font-size: 1.5rem;
            font-family: $font-secondary;
        }
        &__coeurvide{
            font-size: 1.6rem;
            position: absolute;
            right: 2rem;
            z-index: 50;
            cursor: pointer;
            transition: opacity 0.8s;
            &:hover {
                opacity: 0;
                transition: opacity 0.3s;
                transform-origin: bottom;
            }
            &:hover + .menu__resto__coeurplein {
                opacity: 1;
                transition: opacity 0.8s;
                transform-origin: bottom;
            }
            &:active {
                opacity: 0;
                transition: opacity 0.3s;
                transform-origin: bottom;
            }
            &:active + .menu__resto__coeurplein {
                opacity: 1;
                transition: opacity 0.8s;
                transform-origin: bottom;
            }
        }

        &__coeurplein{
            opacity: 0;
            font-size: 1.6rem;
            position: absolute;
            right: 2rem;
            background: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($secondary-color));
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent; 
            transition: opacity 0.3s;  
        }
    }
    

    /*----------*/
    /*---plat---*/
    /*----------*/

    &__conteneur{
        width: 100%;
        height: auto;
        display: flex;
        margin-bottom: 2rem;
        align-items: center;
        flex-flow: row wrap;
        @media (max-width: 900px){
            flex-direction: column;
        }
        &__plat{
            width: 30%;
            height: 20rem;
            margin: auto;
            @media (max-width: 900px){
            width: 90%;
            height: auto;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 2rem;
            }
            position: relative;
            margin-bottom: 2rem;
            &__titre{
                margin-top: 0.5rem;
                margin-left: 0.3rem;
                margin-bottom: 0;
            }
            &__underline{
                width: 2.5rem;
                margin-left: 0.3rem;
                margin-top: 0.2rem;
                border-top: 3px solid $tertiary-color;
            }
            &__carte{
                @include carte-menu;
                animation: slide-in 0.8s forwards;
                &:hover .menu__conteneur__plat__carte__description{
                    animation: widthtext 0.4s forwards;
                }
                &:hover .menu__conteneur__plat__carte__prix{
                    transition: 0.4s;
                    right: 3.5rem;                   
                }
                &:hover .menu__conteneur__plat__carte__selection{
                    transition: 0.4s;
                    right: 0;
                }
                &:hover .menu__conteneur__plat__carte__selection i{
                    transform: rotate(360deg);
                    transition-delay: 1s;
                    transition: 0.5s;
                }
            }
            &__carte1{
                @include carte-menu;
                animation: slide-in 0.8s 0.15s forwards;
                &:hover .menu__conteneur__plat__carte1__description{
                    animation: widthtext 0.4s forwards;
                }
                &:hover .menu__conteneur__plat__carte1__prix{
                    transition: 0.4s;
                    right: 3.5rem;                   
                }
                &:hover .menu__conteneur__plat__carte1__selection{
                    transition: 0.4s;
                    right: 0;
                }
                &:hover .menu__conteneur__plat__carte1__selection i{
                    transform: rotate(360deg);
                    transition-delay: 1s;
                    transition: 0.5s;
                }
            }
            &__carte2{
                @include carte-menu;
                animation: slide-in 0.8s 0.3s forwards;
                &:hover .menu__conteneur__plat__carte2__description{
                    animation: widthtext 0.4s forwards;
                }
                &:hover .menu__conteneur__plat__carte2__prix{
                    transition: 0.4s;
                    right: 3.5rem;                   
                }
                &:hover .menu__conteneur__plat__carte2__selection{
                    transition: 0.4s;
                    right: 0;
                }
                &:hover .menu__conteneur__plat__carte2__selection i{
                    transform: rotate(360deg);
                    transition-delay: 1s;
                    transition: 0.5s;
                }
            }
            &__carte3{
                @include carte-menu;
                animation: slide-in 0.8s 0.45s forwards;
                &:hover .menu__conteneur__plat__carte3__description{
                    animation: widthtext 0.4s forwards;
                }
                &:hover .menu__conteneur__plat__carte3__prix{
                    transition: 0.4s;
                    right: 3.5rem;                   
                }
                &:hover .menu__conteneur__plat__carte3__selection{
                    transition: 0.4s;
                    right: 0;
                }
                &:hover .menu__conteneur__plat__carte3__selection i{
                    transform: rotate(360deg);
                    transition-delay: 1s;
                    transition: 0.5s;
                }
            }
            &__carte4{
                @include carte-menu;
                animation: slide-in 0.8s 0.6s forwards;
                &:hover .menu__conteneur__plat__carte4__description{
                    animation: widthtext 0.4s forwards;
                }
                &:hover .menu__conteneur__plat__carte4__prix{
                    transition: 0.4s;
                    right: 3.5rem;                   
                }
                &:hover .menu__conteneur__plat__carte4__selection{
                    transition: 0.4s;
                    right: 0;
                }
                &:hover .menu__conteneur__plat__carte4__selection i{
                    transform: rotate(360deg);
                    transition-delay: 1s;
                    transition: 0.5s;
                }
            }
            &__carte5{
                @include carte-menu;
                animation: slide-in 0.8s 0.75s forwards;
                &:hover .menu__conteneur__plat__carte5__description{
                    animation: widthtext 0.4s forwards;
                }
                &:hover .menu__conteneur__plat__carte5__prix{
                    transition: 0.4s;
                    right: 3.5rem;                   
                }
                &:hover .menu__conteneur__plat__carte5__selection{
                    transition: 0.4s;
                    right: 0;
                }
                &:hover .menu__conteneur__plat__carte5__selection i{
                    transform: rotate(360deg);
                    transition-delay: 1s;
                    transition: 0.5s;
                }
            }
            &__carte6{
                @include carte-menu;
                animation: slide-in 0.8s 0.9s forwards;
                &:hover .menu__conteneur__plat__carte6__description{
                    animation: widthtext 0.4s forwards;
                }
                &:hover .menu__conteneur__plat__carte6__prix{
                    transition: 0.4s;
                    right: 3.5rem;                   
                }
                &:hover .menu__conteneur__plat__carte6__selection{
                    transition: 0.4s;
                    right: 0;
                }
                &:hover .menu__conteneur__plat__carte6__selection i{
                    transform: rotate(360deg);
                    transition-delay: 1s;
                    transition: 0.5s;
                }
            }
            &__carte7{
                @include carte-menu;
                animation: slide-in 0.8s 1.05s forwards;
                &:hover .menu__conteneur__plat__carte7__description{
                    animation: widthtext 0.4s forwards;
                }
                &:hover .menu__conteneur__plat__carte7__prix{
                    transition: 0.4s;
                    right: 3.5rem;                   
                }
                &:hover .menu__conteneur__plat__carte7__selection{
                    transition: 0.4s;
                    right: 0;
                }
                &:hover .menu__conteneur__plat__carte7__selection i{
                    transform: rotate(360deg);
                    transition-delay: 1s;
                    transition: 0.5s;
                }
            }
            &__carte8{
                @include carte-menu;
                animation: slide-in 0.8s 1.2s forwards;
                &:hover .menu__conteneur__plat__carte8__description{
                    animation: widthtext 0.4s forwards;
                }
                &:hover .menu__conteneur__plat__carte8__prix{
                    transition: 0.4s;
                    right: 3.5rem;                   
                }
                &:hover .menu__conteneur__plat__carte8__selection{
                    transition: 0.4s;
                    right: 0;
                }
                &:hover .menu__conteneur__plat__carte8__selection i{
                    transform: rotate(360deg);
                    transition-delay: 1s;
                    transition: 0.5s;
                }
            }
            &__carte9{
                @include carte-menu;
                animation: slide-in 0.8s 1.35s forwards;
                &:hover .menu__conteneur__plat__carte9__description{
                    animation: widthtext 0.4s forwards;
                }
                &:hover .menu__conteneur__plat__carte9__prix{
                    transition: 0.4s;
                    right: 3.5rem;                   
                }
                &:hover .menu__conteneur__plat__carte9__selection{
                    transition: 0.4s;
                    right: 0;
                }
                &:hover .menu__conteneur__plat__carte9__selection i{
                    transform: rotate(360deg);
                    transition-delay: 1s;
                    transition: 0.5s;
                }
            }
        }
    }
    &__bouton{
        width: 100%;
        height: 5rem;
        margin-bottom: 2rem;
        @include flex-mid;
        &__btn{
            width: 12rem;
            @include btn;
        }
    }

}

@keyframes widthtextout {
    0% {
      width: 60%;
    }
    100% {
      width: 100%;
    }
  }
@keyframes widthtext {
    0% {
      width: 100%;
    }
    100% {
      width: 60%;
    }
  }
@keyframes slide-in{
    0%{
        transform: translateY(2rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

