@charset "UTF-8";
body {
  font-family: "roboto", sans-serif;
  margin: auto;
  padding: 0;
  max-width: 375px;
  width: 100%;
}

h1 {
  font-family: "Shrikhand", cursive;
}

/*-----------*/
/*---Header--*/
/*-----------*/
header {
  width: 100%;
  height: 3.75rem;
  z-index: 30;
}

header h1 {
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

header .btn_return {
  width: 100%;
  height: 100%;
}

header .retour_index {
  color: black;
  font-size: 1.5rem;
  position: absolute;
  top: 2.3rem;
}

/*----------*/
/*--footer--*/
/*----------*/
footer {
  width: 100%;
  height: auto;
  background-color: #2b2b2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 25%;
}

footer .footer {
  width: auto;
  list-style: none;
  color: white;
  margin: 0 0 1.3rem 0;
}

footer .footer li {
  margin: 0.5rem 0;
}

footer .footer li p {
  font-family: "Shrikhand", cursive;
}

footer .footer a {
  color: white;
  text-decoration: none;
}

footer .footer i {
  max-width: 0.625rem;
  height: auto;
  margin-right: 1rem;
}

/*------------*/
/*--location--*/
/*------------*/
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 4rem;
  background: #a9a9a9;
  background: -webkit-gradient(linear, left top, left bottom, from(darkgray), color-stop(10%, #eaeaea));
  background: linear-gradient(to bottom, darkgray 0%, #eaeaea 10%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a9a9', endColorstr='#eaeaea',GradientType=0 );
}

.location__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.location__city h4 {
  margin-left: 1rem;
}

/*---------------*/
/*--description--*/
/*---------------*/
.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 3.75rem;
  padding-top: 3.125rem;
  background: #f6f6f6;
}

.description h2 {
  margin-top: 0;
  width: 17rem;
  text-align: center;
}

.description p {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 2rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  text-align: center;
}

.description__btn {
  width: 13.5rem;
  line-height: 3rem;
  border: none;
  border-radius: 3rem;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(160deg, #FF79DA, #9356DC);
  -webkit-box-shadow: 2px 4px 10px #d3d3d3;
          box-shadow: 2px 4px 10px #d3d3d3;
}

.description__btn:hover {
  background-image: linear-gradient(160deg, #ff46cc, #782cd3);
  -webkit-box-shadow: 3px 4px 12px grey;
          box-shadow: 3px 4px 12px grey;
}

.description__btn:active {
  background-image: linear-gradient(160deg, #ff46cc, #782cd3);
  -webkit-box-shadow: 3px 4px 12px grey;
          box-shadow: 3px 4px 12px grey;
}

/*------------------*/
/*--fonctionnement--*/
/*------------------*/
.operation {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 3.75rem;
  padding-top: 3.125rem;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.operation h2 {
  margin-top: 0;
}

.operation .carte {
  margin: 0.8rem auto;
  width: 90%;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 1.6rem;
  -webkit-box-shadow: 2px 4px 10px #d3d3d3;
          box-shadow: 2px 4px 10px #d3d3d3;
  cursor: pointer;
}

.operation .carte:hover {
  background-color: #f2eafb;
  border: 1px solid #f2eafb;
}

.operation .carte:hover > i {
  color: #9356DC;
}

.operation .carte .number {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background: #9356DC;
  font-size: 0.8rem;
  margin-left: -0.8rem;
}

.operation .carte i {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  color: grey;
}

.operation .carte p {
  font-weight: bold;
}

/*------------------*/
/*--fonctionnement--*/
/*------------------*/
.restaurants {
  height: auto;
  background: #f6f6f6;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.restaurants h2 {
  margin-top: 0;
  margin-left: 0.8rem;
}

.restaurants__resto {
  width: 95%;
  height: 15rem;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 4px 10px #d3d3d3;
          box-shadow: 2px 4px 10px #d3d3d3;
  margin-bottom: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.restaurants__resto__nouveau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5rem;
  height: 1.9rem;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0.2rem;
  background-color: #99E2D0;
  color: #32b091;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}

.restaurants__resto__image {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.restaurants__resto__description {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem;
  background-color: #fff;
  margin-top: -0.3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: relative;
}

.restaurants__resto__description__texte {
  width: 150%;
}

.restaurants__resto__description__texte a {
  text-decoration: none;
}

.restaurants__resto__description__texte h3 {
  margin-top: 0;
  margin-bottom: 0.2rem;
  color: black;
}

.restaurants__resto__description__texte p {
  margin-top: 0;
  color: grey;
}

.restaurants__resto__description__coeurvide {
  font-size: 1.55rem;
  margin-top: 0.5rem;
  position: absolute;
  right: 0.8rem;
  z-index: 50;
  cursor: pointer;
}

.restaurants__resto__description__coeurvide:hover {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.restaurants__resto__description__coeurvide:hover + .restaurants__resto__description__coeurplein {
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.restaurants__resto__description__coeurvide:active {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.restaurants__resto__description__coeurvide:active + .restaurants__resto__description__coeurplein {
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.restaurants__resto__description__coeurplein {
  opacity: 0;
  font-size: 1.55rem;
  margin-top: 0.5rem;
  position: absolute;
  right: 0.8rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: opacity 0.4s forwards;
  transition: opacity 0.4s forwards;
}

/*---page-menu---*/
.entête__image {
  width: 100%;
  max-height: 17rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  width: 100%;
  position: relative;
  top: -3.5rem;
  background: #f6f6f6;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  margin-bottom: 3rem;
  padding-top: 0.5rem;
}

.menu__resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
}

.menu__resto h1 {
  margin-left: 0.5rem;
  font-size: 1.7rem;
}

.menu__resto__coeurvide {
  font-size: 1.6rem;
  position: absolute;
  right: 2rem;
  z-index: 50;
  cursor: pointer;
}

.menu__resto__coeurvide:hover {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.menu__resto__coeurvide:hover + .menu__resto__coeurplein {
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.menu__resto__coeurvide:active {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.menu__resto__coeurvide:active + .menu__resto__coeurplein {
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.menu__resto__coeurplein {
  opacity: 0;
  font-size: 1.6rem;
  position: absolute;
  right: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: opacity 0.4s forwards;
  transition: opacity 0.4s forwards;
}

/*---plat---*/
.menu__conteneur {
  width: 100%;
  height: auto;
}

.menu__conteneur__plat {
  width: 90%;
  height: auto;
  margin: auto;
  position: relative;
}

.menu__conteneur__plat__titre {
  margin-left: 0.3rem;
  margin-bottom: 0;
}

.menu__conteneur__plat__underline {
  width: 12%;
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  border-top: 3px solid #99E2D0;
}

.menu__conteneur__plat__carte {
  height: 4rem;
  background-color: #fff;
  border-radius: 1rem;
  margin-top: 1rem;
  padding-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__conteneur__plat__carte h3 {
  margin-bottom: 0;
}

.menu__conteneur__plat__carte p {
  margin-top: 0.3rem;
}

.menu__conteneur__plat__carte__prix {
  width: 3.5rem;
  height: 4rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.menu__conteneur__plat__carte__selection {
  width: 3.5rem;
  height: 4rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: #38c4a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: -3.5rem;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  opacity: 0;
}

.menu__conteneur__plat__carte__selection i {
  color: #fff;
}

.menu__conteneur__plat__carte:hover .menu__conteneur__plat__carte__prix {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  right: 3.5rem;
}

.menu__conteneur__plat__carte:hover .menu__conteneur__plat__carte__selection {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  right: 0;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */