@import 'libs/variable';
@import 'libs/mixin';

body{
    font-family: $font-primary;
    margin: auto;
    padding: 0;
    max-width: 375px;
    width: 100%;
}
h1 {
    font-family: $font-secondary;
}


/*-----------*/
/*---Header--*/
/*-----------*/


header {
    width: 100%;
    height: 60px;
    @include flex-mid;
    
    img{
        margin-top: 10px;
        max-width: 45%;
        height: auto;
    }
}


/*----------*/
/*--footer--*/
/*----------*/


footer{
    width: 100%;
    height: auto;
    background-color: rgb(43, 43, 43);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 25%;
     .footer{
        width: auto;
        list-style: none;
        color: white;
        margin: 0 0 20px 0;

         li{
            margin: 7.5px 0;
        }
             a{
                color: white;
                text-decoration: none;
            }
                 i{
                    max-width: 10px;
                    height: auto;
                    margin-right: 12px;
                }

    }
}

/*------------*/
/*--location--*/
/*------------*/

.location{
    @include flex-mid;
    width: 100%;
    height: 50px;  
    background: rgb(169,169,169);
    background: -moz-linear-gradient(top,  rgba(169,169,169,1) 0%, rgba(234,234,234,1) 10%);
    background: -webkit-linear-gradient(top,  rgba(169,169,169,1) 0%,rgba(234,234,234,1) 10%);
    background: linear-gradient(to bottom,  rgba(169,169,169,1) 0%,rgba(234,234,234,1) 10%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a9a9', endColorstr='#eaeaea',GradientType=0 );
    

        .location__city{
            @include flex-mid;
            width: 100%;
            
            p{ 
                margin-left: 10px;
            }
        }
}

/*---------------*/
/*--description--*/
/*---------------*/

.description{
    @include flex-mid;
    flex-direction: column;
    background: #fafafa;
    padding-bottom: 60px;
    padding-top: 50px;

        h2{
            margin-top: 0px;
            width: 250px;
            text-align: center;
        }
        
        p{
            margin-top: 0px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
        }
    
}